In [1]:
3*2

6

In [2]:
2/3

0.6666666666666666

In [3]:
2 % 3

2

In [4]:
2 // 3

0

In [5]:
2 ** 3

8

In [6]:
0.3 // -0.3

-1.0

In [7]:
'abc' + '333'

'abc333'

In [8]:
'바보'*3

'바보바보바보'

In [11]:
'바보' * -1

''

In [12]:
len('abc')

3

In [13]:
's'in"sbc"

True

In [14]:
'ac' in 'abc'

False

In [15]:
'ac' not in 'abc'

True

In [16]:
(not 'ac') in 'abc'

TypeError: 'in <string>' requires string as left operand, not bool

In [17]:
3>=4

False

In [18]:
str(1)

'1'

In [19]:
int('1')

1

In [20]:
float("2")

2.0

In [24]:
'%4d-%+2d-%02d' % (2019,8,7)

'2019-+8-07'

In [26]:
float('%.2lf' % (3.141592))

3.14

In [27]:
'{}-{}-{}'.format(2019, 8, 7)

'2019-8-7'

In [29]:
x=20

In [32]:
x=20
y=30
z=40
print('x={}, y={}, z={}'.format(x, y, z))

x=20, y=30, z=40

In [33]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [70]:
len([1, 2, 3, 4])

4

In [71]:
lst=[1, 2, 3, 4]
lst[3]

4

In [72]:
lst[5]

IndexError: list index out of range

In [73]:
lst[-1]

4

In [74]:
lst[-2]

3

In [75]:
lst[-3]

2

In [76]:
lst[-4]

1

In [77]:
lst[-5]

IndexError: list index out of range

In [78]:
lst[0: 2]

[1, 2]

In [79]:
lst[-3: -1]

[2, 3]

In [80]:
lst[:3]

[1, 2, 3]

In [81]:
lst[2:]

[3, 4]

In [82]:
lst[:]

[1, 2, 3, 4]

In [83]:
lst[:]

[1, 2, 3, 4]

In [84]:
lst[-1]=5

In [85]:
print(lst)

[1, 2, 3, 5]

In [86]:
lst[0:2]=['a']

In [87]:
print(lst)

['a', 3, 5]

In [88]:
lst.append(10)
print(lst)

['a', 3, 5, 10]

In [94]:
lst.insert(0, 3)
print(lst)

[3, 3, 3, 3, 3, 'a', 3, 5, 10]

In [97]:
lst.insert(-1, 4)
print(lst)

[4, 3, 3, 3, 3, 3, 'a', 3, 5, 4, 4, 10]

In [101]:
lst.remove(3)

In [102]:
print(lst)

[4, 3, 3, 'a', 3, 5, 4, 4, 10]

In [104]:
lst[4: 5]=[]
print(lst)

[4, 3, 3, 'a', 5, 4, 4, 10]

In [105]:
[1, 2, 3]+['a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

In [106]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [107]:
lst * 3

[4,
 3,
 3,
 'a',
 5,
 4,
 4,
 10,
 4,
 3,
 3,
 'a',
 5,
 4,
 4,
 10,
 4,
 3,
 3,
 'a',
 5,
 4,
 4,
 10]

In [108]:
tp = (1, 2, 3, 4)
tp[-1]

4

In [109]:
tp.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [110]:
print('삶')

삶

In [119]:
x=-1234
int(x)

-1234

In [120]:
z=str(-x)
print(z)

1234

In [121]:
y=len(z)
print(y)

4

In [4]:
x=-1234523456

if x>=0:
    jeoldatgab=str(x)
    print(len(jeoldatgab))
else:
    jeoldatgab=str(-x)
    print(len(jeoldatgab))

10

In [5]:
x==12

if x%2==0:
    print('even')
    
    if x%3==0:
        print('3')
    else:
        print('6의 배수는 아니고 짝수')
else:
    print('odd')

even
6의 배수는 아니고 짝수

In [130]:
[1, 2] in [[1, 2], 3]

True

In [3]:
lst=['a', 'b', 'c', 'd']
i=0

while i<len(lst):
    print(lst[i])
    i=i+1

a
b
c
d

In [5]:
lst=[3, 5, 2, 1]
i=0
x=0

while x<len(lst):
    i=i+lst[x]
    x=x+1

print(i)

11

In [10]:
lst=[3, 5, 2, 1]
i=0

for x in lst:
    i=i+x

print(i)

11

In [1]:
sentence = "I am a boy"
words = sentence.split(' ')

i=0

for x in words:
    if x=='boy':
        i=i+1

print(i)

print(words)

1
['I', 'am', 'a', 'boy']

In [19]:
lst=[]

for x in range(1, 21):
    if 20%x==0:
        lst.append(x)

print(lst)

[1, 2, 4, 5, 10, 20]

In [33]:
def factor_20():
    lst1=[]
    for xxx in range(1, 21):
        if 20%xxx==0:
            lst1.append(xxx)
    return lst1

y=factor_20()

print(y)

[1, 2, 4, 5, 10, 20]

In [36]:
def factor_n(n):
    lst=[]
    for x in range(1, n+1):
        if n%x==0:
            lst.append(x)
    return lst

print(factor_n(315))

[1, 3, 5, 7, 9, 15, 21, 35, 45, 63, 105, 315]

In [44]:
#Dictionary d는 20의 약수의 집합

d = {}

for i in range(1, 21):
    if 20 % i == 0:
        d[i] = True

print(d)

{1: True, 2: True, 4: True, 5: True, 10: True, 20: True}

In [45]:
d.keys()

dict_keys([1, 2, 4, 5, 10, 20])

In [46]:
d.values()

dict_values([True, True, True, True, True, True])

In [3]:
d= {
    'name': ['A', 'B', 'C', 'D'],
    'address': [1, 2, 3, 44],
    'age': [11, 22, 33, 44]
}

In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame(d)
df

  name  address  age
0    A        1   11
1    B        2   22
2    C        3   33
3    D       44   44

In [14]:
type(df['name'])

df['name'][2]

'C'

In [16]:
df[0: 2]

  name  address  age
0    A        1   11
1    B        2   22

In [21]:
s= {
    'name': ['A', 'B', 'C', 'D'],
    'address': [1, 1, 3, 44],
    'age': [11, 22, 33, 44]
}

In [22]:
pd.DataFrame(s)

  name  address  age
0    A        1   11
1    B        1   22
2    C        3   33
3    D       44   44

In [31]:
sd = pd.read_csv('./2017년도.csv', names=['날짜', '공백', '강수량'])
sd

             날짜  공백   강수량
0    01/01/2017 NaN   NaN
1    02/01/2017 NaN   0.3
2    03/01/2017 NaN   NaN
3    04/01/2017 NaN   NaN
4    05/01/2017 NaN   NaN
5    06/01/2017 NaN   NaN
6    07/01/2017 NaN   NaN
7    08/01/2017 NaN   0.0
8    09/01/2017 NaN   0.0
9    10/01/2017 NaN   NaN
10   11/01/2017 NaN   NaN
11   12/01/2017 NaN   0.0
12   13/01/2017 NaN   0.6
13   14/01/2017 NaN   NaN
14   15/01/2017 NaN   NaN
15   16/01/2017 NaN   NaN
16   17/01/2017 NaN   NaN
17   18/01/2017 NaN   0.0
18   19/01/2017 NaN   NaN
19   20/01/2017 NaN   4.0
20   21/01/2017 NaN   2.1
21   22/01/2017 NaN   0.0
22   23/01/2017 NaN   NaN
23   24/01/2017 NaN   NaN
24   25/01/2017 NaN   NaN
25   26/01/2017 NaN   0.3
26   27/01/2017 NaN   3.0
27   28/01/2017 NaN   NaN
28   29/01/2017 NaN   4.5
29   30/01/2017 NaN   0.1
..          ...  ..   ...
335  02/12/2017 NaN   NaN
336  03/12/2017 NaN   4.0
337  04/12/2017 NaN   0.1
338  05/12/2017 NaN   0.1
339  06/12/2017 NaN   1.2
340  07/12/2017 NaN   NaN
341  08/12/2017 NaN   NaN
342  09/12/2017 NaN   NaN
343  10/12/2017 NaN   4.1
344  11/12/2017 NaN   NaN
345  12/12/2017 NaN   NaN
346  13/12/2017 NaN   NaN
347  14/12/2017 NaN   NaN
348  15/12/2017 NaN   0.0
349  16/12/2017 NaN   NaN
350  17/12/2017 NaN   NaN
351  18/12/2017 NaN   3.4
352  19/12/2017 NaN   NaN
353  20/12/2017 NaN   0.2
354  21/12/2017 NaN   NaN
355  22/12/2017 NaN   NaN
356  23/12/2017 NaN   NaN
357  24/12/2017 NaN  20.0
358  25/12/2017 NaN   NaN
359  26/12/2017 NaN   NaN
360  27/12/2017 NaN   NaN
361  28/12/2017 NaN   0.0
362  29/12/2017 NaN   0.0
363  30/12/2017 NaN   0.7
364  31/12/2017 NaN   1.0

[365 rows x 3 columns]

In [34]:
sd.head(10)

           날짜  공백  강수량
0  01/01/2017 NaN  NaN
1  02/01/2017 NaN  0.3
2  03/01/2017 NaN  NaN
3  04/01/2017 NaN  NaN
4  05/01/2017 NaN  NaN
5  06/01/2017 NaN  NaN
6  07/01/2017 NaN  NaN
7  08/01/2017 NaN  0.0
8  09/01/2017 NaN  0.0
9  10/01/2017 NaN  NaN

In [35]:
len(sd)

365

In [37]:
sd['날짜']

0      01/01/2017
1      02/01/2017
2      03/01/2017
3      04/01/2017
4      05/01/2017
5      06/01/2017
6      07/01/2017
7      08/01/2017
8      09/01/2017
9      10/01/2017
10     11/01/2017
11     12/01/2017
12     13/01/2017
13     14/01/2017
14     15/01/2017
15     16/01/2017
16     17/01/2017
17     18/01/2017
18     19/01/2017
19     20/01/2017
20     21/01/2017
21     22/01/2017
22     23/01/2017
23     24/01/2017
24     25/01/2017
25     26/01/2017
26     27/01/2017
27     28/01/2017
28     29/01/2017
29     30/01/2017
          ...
335    02/12/2017
336    03/12/2017
337    04/12/2017
338    05/12/2017
339    06/12/2017
340    07/12/2017
341    08/12/2017
342    09/12/2017
343    10/12/2017
344    11/12/2017
345    12/12/2017
346    13/12/2017
347    14/12/2017
348    15/12/2017
349    16/12/2017
350    17/12/2017
351    18/12/2017
352    19/12/2017
353    20/12/2017
354    21/12/2017
355    22/12/2017
356    23/12/2017
357    24/12/2017
358    25/12/2017
359    26/12/2017
360    27/12/2017
361    28/12/2017
362    29/12/2017
363    30/12/2017
364    31/12/2017
Name: 날짜, Length: 365, dtype: object

In [47]:
sd['날짜'].replace('/', '-')
sd['날짜']=sd['날짜'].replace('/', '-')
sd

             날짜  공백   강수량
0    01/01/2017 NaN   NaN
1    02/01/2017 NaN   0.3
2    03/01/2017 NaN   NaN
3    04/01/2017 NaN   NaN
4    05/01/2017 NaN   NaN
5    06/01/2017 NaN   NaN
6    07/01/2017 NaN   NaN
7    08/01/2017 NaN   0.0
8    09/01/2017 NaN   0.0
9    10/01/2017 NaN   NaN
10   11/01/2017 NaN   NaN
11   12/01/2017 NaN   0.0
12   13/01/2017 NaN   0.6
13   14/01/2017 NaN   NaN
14   15/01/2017 NaN   NaN
15   16/01/2017 NaN   NaN
16   17/01/2017 NaN   NaN
17   18/01/2017 NaN   0.0
18   19/01/2017 NaN   NaN
19   20/01/2017 NaN   4.0
20   21/01/2017 NaN   2.1
21   22/01/2017 NaN   0.0
22   23/01/2017 NaN   NaN
23   24/01/2017 NaN   NaN
24   25/01/2017 NaN   NaN
25   26/01/2017 NaN   0.3
26   27/01/2017 NaN   3.0
27   28/01/2017 NaN   NaN
28   29/01/2017 NaN   4.5
29   30/01/2017 NaN   0.1
..          ...  ..   ...
335  02/12/2017 NaN   NaN
336  03/12/2017 NaN   4.0
337  04/12/2017 NaN   0.1
338  05/12/2017 NaN   0.1
339  06/12/2017 NaN   1.2
340  07/12/2017 NaN   NaN
341  08/12/2017 NaN   NaN
342  09/12/2017 NaN   NaN
343  10/12/2017 NaN   4.1
344  11/12/2017 NaN   NaN
345  12/12/2017 NaN   NaN
346  13/12/2017 NaN   NaN
347  14/12/2017 NaN   NaN
348  15/12/2017 NaN   0.0
349  16/12/2017 NaN   NaN
350  17/12/2017 NaN   NaN
351  18/12/2017 NaN   3.4
352  19/12/2017 NaN   NaN
353  20/12/2017 NaN   0.2
354  21/12/2017 NaN   NaN
355  22/12/2017 NaN   NaN
356  23/12/2017 NaN   NaN
357  24/12/2017 NaN  20.0
358  25/12/2017 NaN   NaN
359  26/12/2017 NaN   NaN
360  27/12/2017 NaN   NaN
361  28/12/2017 NaN   0.0
362  29/12/2017 NaN   0.0
363  30/12/2017 NaN   0.7
364  31/12/2017 NaN   1.0

[365 rows x 3 columns]

In [48]:
for e1, e2 in zip(sd['날짜'], sd['공백']):
    print(e1, e2)

01/01/2017 nan
02/01/2017 nan
03/01/2017 nan
04/01/2017 nan
05/01/2017 nan
06/01/2017 nan
07/01/2017 nan
08/01/2017 nan
09/01/2017 nan
10/01/2017 nan
11/01/2017 nan
12/01/2017 nan
13/01/2017 nan
14/01/2017 nan
15/01/2017 nan
16/01/2017 nan
17/01/2017 nan
18/01/2017 nan
19/01/2017 nan
20/01/2017 nan
21/01/2017 nan
22/01/2017 nan
23/01/2017 nan
24/01/2017 nan
25/01/2017 nan
26/01/2017 nan
27/01/2017 nan
28/01/2017 nan
29/01/2017 nan
30/01/2017 nan
31/01/2017 nan
01/02/2017 nan
02/02/2017 nan
03/02/2017 nan
04/02/2017 nan
05/02/2017 nan
06/02/2017 nan
07/02/2017 nan
08/02/2017 nan
09/02/2017 nan
10/02/2017 nan
11/02/2017 nan
12/02/2017 nan
13/02/2017 nan
14/02/2017 nan
15/02/2017 nan
16/02/2017 nan
17/02/2017 nan
18/02/2017 nan
19/02/2017 nan
20/02/2017 nan
21/02/2017 nan
22/02/2017 nan
23/02/2017 nan
24/02/2017 nan
25/02/2017 nan
26/02/2017 nan
27/02/2017 nan
28/02/2017 nan
01/03/2017 nan
02/03/2017 nan
03/03/2017 nan
04/03/2017 nan
05/03/2017 nan
06/03/2017 nan
07/03/2017 nan
08/03/2017 nan
09/03/2017 nan
10/03/2017 nan
11/03/2017 nan
12/03/2017 nan
13/03/2017 nan
14/03/2017 nan
15/03/2017 nan
16/03/2017 nan
17/03/2017 nan
18/03/2017 nan
19/03/2017 nan
20/03/2017 nan
21/03/2017 nan
22/03/2017 nan
23/03/2017 nan
24/03/2017 nan
25/03/2017 nan
26/03/2017 nan
27/03/2017 nan
28/03/2017 nan
29/03/2017 nan
30/03/2017 nan
31/03/2017 nan
01/04/2017 nan
02/04/2017 nan
03/04/2017 nan
04/04/2017 nan
05/04/2017 nan
06/04/2017 nan
07/04/2017 nan
08/04/2017 nan
09/04/2017 nan
10/04/2017 nan
11/04/2017 nan
12/04/2017 nan
13/04/2017 nan
14/04/2017 nan
15/04/2017 nan
16/04/2017 nan
17/04/2017 nan
18/04/2017 nan
19/04/2017 nan
20/04/2017 nan
21/04/2017 nan
22/04/2017 nan
23/04/2017 nan
24/04/2017 nan
25/04/2017 nan
26/04/2017 nan
27/04/2017 nan
28/04/2017 nan
29/04/2017 nan
30/04/2017 nan
01/05/2017 nan
02/05/2017 nan
03/05/2017 nan
04/05/2017 nan
05/05/2017 nan
06/05/2017 nan
07/05/2017 nan
08/05/2017 nan
09/05/2017 nan
10/05/2017 nan
11/05/2017 nan
12/05/2017 nan
13/05/2017 nan
14/05/2017 nan
15/05/2017 nan
16/05/2017 nan
17/05/2017 nan
18/05/2017 nan
19/05/2017 nan
20/05/2017 nan
21/05/2017 nan
22/05/2017 nan
23/05/2017 nan
24/05/2017 nan
25/05/2017 nan
26/05/2017 nan
27/05/2017 nan
28/05/2017 nan
29/05/2017 nan
30/05/2017 nan
31/05/2017 nan
01/06/2017 nan
02/06/2017 nan
03/06/2017 nan
04/06/2017 nan
05/06/2017 nan
06/06/2017 nan
07/06/2017 nan
08/06/2017 nan
09/06/2017 nan
10/06/2017 nan
11/06/2017 nan
12/06/2017 nan
13/06/2017 nan
14/06/2017 nan
15/06/2017 nan
16/06/2017 nan
17/06/2017 nan
18/06/2017 nan
19/06/2017 nan
20/06/2017 nan
21/06/2017 nan
22/06/2017 nan
23/06/2017 nan
24/06/2017 nan
25/06/2017 nan
26/06/2017 nan
27/06/2017 nan
28/06/2017 nan
29/06/2017 nan
30/06/2017 nan
01/07/2017 nan
02/07/2017 nan
03/07/2017 nan
04/07/2017 nan
05/07/2017 nan
06/07/2017 nan
07/07/2017 nan
08/07/2017 nan
09/07/2017 nan
10/07/2017 nan
11/07/2017 nan
12/07/2017 nan
13/07/2017 nan
14/07/2017 nan
15/07/2017 nan
16/07/2017 nan
17/07/2017 nan
18/07/2017 nan
19/07/2017 nan
20/07/2017 nan
21/07/2017 nan
22/07/2017 nan
23/07/2017 nan
24/07/2017 nan
25/07/2017 nan
26/07/2017 nan
27/07/2017 nan
28/07/2017 nan
29/07/2017 nan
30/07/2017 nan
31/07/2017 nan
01/08/2017 nan
02/08/2017 nan
03/08/2017 nan
04/08/2017 nan
05/08/2017 nan
06/08/2017 nan
07/08/2017 nan
08/08/2017 nan
09/08/2017 nan
10/08/2017 nan
11/08/2017 nan
12/08/2017 nan
13/08/2017 nan
14/08/2017 nan
15/08/2017 nan
16/08/2017 nan
17/08/2017 nan
18/08/2017 nan
19/08/2017 nan
20/08/2017 nan
21/08/2017 nan
22/08/2017 nan
23/08/2017 nan
24/08/2017 nan
25/08/2017 nan
26/08/2017 nan
27/08/2017 nan
28/08/2017 nan
29/08/2017 nan
30/08/2017 nan
31/08/2017 nan
01/09/2017 nan
02/09/2017 nan
03/09/2017 nan
04/09/2017 nan
05/09/2017 nan
06/09/2017 nan
07/09/2017 nan
08/09/2017 nan
09/09/2017 nan
10/09/2017 nan
11/09/2017 nan
12/09/2017 nan
13/09/2017 nan
14/09/2017 nan
15/09/2017 nan
16/09/2017 nan
17/09/2017 nan
18/09/2017 nan
19/09/2017 nan
20/09/2017 nan
21/09/2017 nan
22/09/2017 nan
23/09/2017 nan
24/09/2017 nan
25/09/2017 nan
26/09/2017 nan
27/09/2017 nan
28/09/2017 nan
29/09/2017 nan
30/09/2017 nan
01/10/2017 nan
02/10/2017 nan
03/10/2017 nan
04/10/2017 nan
05/10/2017 nan
06/10/2017 nan
07/10/2017 nan
08/10/2017 nan
09/10/2017 nan
10/10/2017 nan
11/10/2017 nan
12/10/2017 nan
13/10/2017 nan
14/10/2017 nan
15/10/2017 nan
16/10/2017 nan
17/10/2017 nan
18/10/2017 nan
19/10/2017 nan
20/10/2017 nan
21/10/2017 nan
22/10/2017 nan
23/10/2017 nan
24/10/2017 nan
25/10/2017 nan
26/10/2017 nan
27/10/2017 nan
28/10/2017 nan
29/10/2017 nan
30/10/2017 nan
31/10/2017 nan
01/11/2017 nan
02/11/2017 nan
03/11/2017 nan
04/11/2017 nan
05/11/2017 nan
06/11/2017 nan
07/11/2017 nan
08/11/2017 nan
09/11/2017 nan
10/11/2017 nan
11/11/2017 nan
12/11/2017 nan
13/11/2017 nan
14/11/2017 nan
15/11/2017 nan
16/11/2017 nan
17/11/2017 nan
18/11/2017 nan
19/11/2017 nan
20/11/2017 nan
21/11/2017 nan
22/11/2017 nan
23/11/2017 nan
24/11/2017 nan
25/11/2017 nan
26/11/2017 nan
27/11/2017 nan
28/11/2017 nan
29/11/2017 nan
30/11/2017 nan
01/12/2017 nan
02/12/2017 nan
03/12/2017 nan
04/12/2017 nan
05/12/2017 nan
06/12/2017 nan
07/12/2017 nan
08/12/2017 nan
09/12/2017 nan
10/12/2017 nan
11/12/2017 nan
12/12/2017 nan
13/12/2017 nan
14/12/2017 nan
15/12/2017 nan
16/12/2017 nan
17/12/2017 nan
18/12/2017 nan
19/12/2017 nan
20/12/2017 nan
21/12/2017 nan
22/12/2017 nan
23/12/2017 nan
24/12/2017 nan
25/12/2017 nan
26/12/2017 nan
27/12/2017 nan
28/12/2017 nan
29/12/2017 nan
30/12/2017 nan
31/12/2017 nan

In [53]:
for row in df.iterrows():
    print(row[1]['name'])

A
B
C
D

In [56]:
sd.to_csv('./new.csv')

In [1]:
type(pd)

NameError: name 'pd' is not defined

In [15]:
class Dog:
    name = ''
    age = ''
    
    def __init__(self):
        self.name = 'dog-name'
        self.age = 'dog-age'
    
    def get_nothackable(self):
        return self.name
    
    def set_nothackable(self):
        self.name = 'Dog-Name'
    
    def change_name(self, new_name):
        old_name = self.name
        self.name = new_name
        print('Name is changed from {} to {}'.format(old_name, new_name))

v=Dog()
v.change_name('New_Dog')

print(v)
print(v.get_nothackable())

Name is changed from dog-name to New_Dog
<__main__.Dog object at 0x1084d4128>
New_Dog

In [41]:
from collections import defaultdict

class Cat:
    name = ''
    brain = {}
    
    def eat(self, food, taste):
        self.brain[food] = taste
        
#     def eat_many(self, foods, tastes):
#         for n in range(0, len(foods)):
#             self.brain[foods[n]]=tastes[n]

        
    def eat_many(self, foods, tastes):
        for food, taste in zip(foods, tastes):
            self.eat(food, taste)
#             self.brain[food]=taste

            
foods=['apple', 'banana', 'fish', 'apple']
tastes=['good', 'bad', 'not bad', 'great']

v = Cat()
v.eat_many(foods, tastes)
print(v.brain)

{'apple': 'great', 'banana': 'bad', 'fish': 'not bad'}

In [46]:
# linux command

# !ls
# !ls -a

/bin/sh: ll: command not found