## 파일 읽고 쓰기
- 종류
    - 파일 객체 버전 
    - numpy 버전 (다음 시간)
    - pandas 버전 (다음 시간)
- 파일 객체
    1. 파일 객체 만들기
        ```python
            # 파일을 열어 f라는 파일 객체를 만든다.
            f = open(파일 경로, mode=...)
        ```
        - 파일 경로 
            - 절대경로
                - 서울특별시 관악구 신림동 서울대학교 ...
                - 예) `/Users/haekyu/Downloads/python_tutoring_ms/0601`
            - 상대경로
                - 내 위치에서 오른쪽으로 한 칸
                - .: 현재 위치
                - ..: 상위 경로
                - 하위 경로는 이름을 그냥 쓰면 됨
        - mode: 
            - 'r' : read
            - 'w' : write
            - 'a' : append
    2. 파일 읽기 (mode='r' 인 경우)
        - 한방에 읽어오기
            - `readlines()` 함수 사용
            - 예)
                ```python
                f = open('sample.txt', mode='r')
                lst = f.readlines()
                f.close()
                ```
        - 한 라인씩 읽어오기
            - `readline()` 함수 사용
            - EOF (End of file) 에 닿을 때까지 무한 루프로 읽음
            - 예)
                ```python
                f = open('sample.txt', mode='r')
                while True:
                    line = f.readline()
                    print(line)
                    if line == '':
                        break
                f.close()
                ```
    3. 파일 쓰기 (mode='w' 혹은 mode='a' 인 경우)
        - `write(원하는 스트링)` 함수 사용
        - Newline(엔터) 를 넣고싶으면 '\n' 을 추가
        - 예)
            ```python
            f = open('sample.txt', mode='w')
            f.write('A\n')
            f.write('B\n')
            f.write('C\n')
            f.write('D\n')
            f.write('E')
            f.close()
            ```
    4. 파일 닫기
        - `close()` 함수 사용
        - 반드시 닫아줘야함!!!!! 안그러면 다른 프로세스가 해당 파일을 열 때 뭔가 꼬여버림.

In [ ]:
- 파일 읽고 쓰기
- pandas
    - parallel data (spread sheet)

- numpy
- class

In [35]:
# 기본 1
f = open('./untitled.txt', 'r')
# read
lines = f.readlines()
while True:
    line = f.readline()
    print(line)
    if line == '':
        break

f.close()
print(lines)

abc

def

ghi

['abc\n', 'def\n', 'ghi']

In [36]:
# 기본 2
with open('./untitled.txt', 'r') as f:
    lines = f.readlines()
print(lines)

['abc\n', 'def\n', 'ghi']

# Pandas

- Pandas.DataFrame
    == spread sheet
- df = pd.read_csv(path)
- df.to_csv(path, sep='\t')

In [ ]:
pd.read_csv(path, names=[])

sd.head()

In [39]:
d = {
        'name': ['A', 'B', 'C', 'D'],
        'address': [1, 1, 3, 44],
        'age': [11, 22, 33, 44]
    }

In [61]:
import pandas as pd

df = pd.DataFrame(d)
df['age'].astype(str)
df['age'] = df['age'].replace('0', '-')
df

# '12/08/2019'.replace('/', '-')
# 'dd/mm/yyyy' --> 'dd-mm-yyyy'
# # groupby 
# # df.groupby('address').max()

  name  address  age
0    A        1   11
1    B        2   22
2    C        3   33
3    D       44   44

In [62]:
# for e1, e2 in zip(df['address'], df['age']):
#     print(e1, e2)

SyntaxError: invalid syntax (<ipython-input-62-40f323f07503>, line 1)

In [66]:
for row in df.iterrows():
    print(row[1]['name'])

A
B
C
D

In [57]:
# string

# sss.replace('?', '???')

'12/08/2019'.replace('/', '-')

'12-08-2019'

In [48]:
df['name'][2]

df[0: 2]

  name  address  age
0    A        1   11
1    B        2   22

In [3]:
def get_1st_alpha(w):
    return w[0]

In [32]:
#Dictionary 연습

word_lst = ["apple", "bear", "person", "aurora", "print", "boy"]


def classify_words(word_lst):
    
    # Initialize
    classifier = {}
    for word in word_lst:
        fst = get_1st_alpha(word)
        classifier[fst] = []
    
    for word in word_lst:
        fst = get_1st_alpha(word)
        classifier[fst].append(word)

    return classifier


def classify_words(word_lst):
    classifier = {}
    for word in word_lst:
        fst = get_1st_alpha(word)
        prev_word_lst = classifier.get(fst, [])
        prev_word_lst.append(word)
        classifier[fst] = prev_word_lst

    return classifier


        
print(classify_words(word_lst))

{'a': ['apple', 'aurora'], 'b': ['bear', 'boy'], 'p': ['person', 'print']}

In [29]:
from collections import defaultdict

dd = defaultdict(lambda: 0)

dd[4000]

0

In [26]:
d = {}
d['a']

KeyError: 'a'